.points {
	background-color: #F7F8F9;
	padding: 120px 168px;
	position: relative;
}

.points__foto {
  width: 473px;
  height: 542px;
  position: absolute;
  right: 0;
  top: 120px;
}

.points__image {
	width: 72px;
	height: 81px;
	margin: 0;
}

.points__paragraph {
	font-weight: 900;
  font-size: 16px;
  line-height: 135%;
  width: 450px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #898989;;
}

.points__point-title {
	font-weight: 900;
  font-size: 24px;
  line-height: 135%;
  margin-left: 0;
  margin: 0;
  padding-bottom: 8px;
}

.points__point {
	display: grid;
  grid-template-columns: 72px auto;
  column-gap: 40px;
  padding-bottom: 40px;
}

.points__point:last-child {
  padding: 0;
}

.points__points {
	margin-top: 60px;
}

.points__text {
	margin: 0;
}

.points__title {
	font-weight: 900;
	font-size: 40px;
	line-height: 135%;
	margin: 0;
}