.personal {
  margin: 120px 168px;
}

.personal__chef {
  width: 539px;
  height: 648px;
  object-fit: cover;
  margin: 0;
}

.personal__columns {
  display: grid;
  grid-template-columns: 541px auto;
  column-gap: 27px;
  margin-bottom: 60px;
}

.personal__columns:last-child {
  margin: 0;
}

.personal__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 135%;
  margin-bottom: 60px;
}