.work {
	background-color:#D0E7E2;
	padding: 120px 168px;
	position: relative;
}

.work__foto {
  width: 437px;
  height: 436px;
  position: absolute;
  right: 0;
  top: 155px;
}

.work__foto_little {
  width: 473px;
  height: 542px;
  position: absolute;
  right: 0;
  top: 120px;
}

.work__image {
	width: 72px;
	height: 81px;
	margin: 0;
}

.work__paragraph {
	font-weight: 900;
  font-size: 16px;
  line-height: 135%;
  width: 450px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #898989;;
}

.work__point-title {
	font-weight: 900;
  font-size: 24px;
  line-height: 135%;
  margin-left: 0;
  margin: 0;
  padding-bottom: 8px;
}

.work__point {
	display: grid;
  grid-template-columns: 72px auto;
  column-gap: 40px;
  padding-bottom: 40px;
}

.work__point:last-child {
  padding: 0;
}

.work__points {
	margin-top: 60px;
}

.work__text {
	margin: 0;
}

.work__title {
	font-weight: 900;
	font-size: 40px;
	line-height: 135%;
	margin: 0;
}

.work_white-background {
  background-color: #F7F8F9;
}